body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #1e1e1e;
  color: #c5c5c5;
  padding: 2px 4px;
  border-radius: 4px;
}
